.main{
    width: 100%;
    height: 100%;
    background-color: bisque;
    
}
.header{
    width: 100%;
    height: 15%;
    background-color: darkgoldenrod;
    
}
.footer{
    width: 100%;
    height: 85%;
    background-color: rgb(189, 107, 134);
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    
}
.card{
    width: 40%;
    height: 45%;
    background-color: cadetblue;
    margin-top: 10px;
    border-radius: 10px;
    
    

}
.cardtop{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}
.name{
    color: black;
}
.cardmid{
    width: 100%;
    height: 60%;
    background-color: yellow;
    display: flex;
    
}
.cardmidleft{
    width: 70%;
    height: 100%;
    background-color: rgb(208, 255, 80);

}
.cardmidright{
    width: 50%;
    height: 100%;
    background-color: darkolivegreen;
}
.cardbottom{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.b1{
    background-color: black;
    color: white;
    width: 20%;
    height: 65%;
    text-align: center;
}
.b2{
    background-color: darkcyan;
    color: white;
    width: 20%;
    height: 65%;
    text-align: center;
}
.b3{
    background-color: red;
    color: white;
    width: 20%;
    height: 65%;
    text-align: center;
}
h6{
    font-size: 15px;
}

