body{
    margin: 0px;
    
}
.parent{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
}
.left{
    width: 18%;
    height: 100%;
    background-color: aqua;
    text-align: center;
}
button{
    background-color: red;
    color: white;
    width: 80%;
}
.right{
    width: 80%;
    height: 100%;
    background-color: blueviolet;
    color: white;
    align-items: center;
    overflow: auto;
}
