<div class="parent">
    <div class="left">
        <h2>My Website</h2>
        <hr>
        <h6 routerLink="home">Home</h6>
        <h6 routerLink="welcome">welcome</h6>
        <h6 routerLink="data-binding">Data binding</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="rectangle">Rectangle</h6>
        <h6 routerLink="circle">Circle</h6>
        <h6 routerLink="bmi">BMI</h6>
        <h6 routerLink="emi">EMI</h6>
        <h6 routerLink="simpleinterest">simpleinterest</h6>
        <h6 routerLink="degrees">Degress</h6>
        <h6 routerLink="directives">directives</h6>
        <h6 routerLink="employee">employee</h6>
        <h6 routerLink="prices">price</h6>
        <h6 routerLink="vechile">vechile</h6>
        <h6 routerLink="accounts">accounts</h6>
        <h6 routerLink="flipkart">flipkart</h6>
        <h6 routerLink="mail">mail</h6>
        <h6 routerLink="pinterest">pinterest</h6>
        <h6 routerLink="weather">weather</h6>
        <h6 routerLink="card">cards</h6>
         <h6 routerLink="create-user">Create-user</h6>
         <h6 routerLink="report">Report</h6>
         <h6 routerLink="sibling1">sibling1</h6>
         <h6 routerLink="parent">Parent</h6>
         <h6 routerLink="life-cycle-hooks">Life Cycle Hooks</h6>
        <hr>
    
        <button>Logout</button>

     </div>

    <div class="right">

        <router-outlet></router-outlet>
    

    </div>
</div>
